
Scripts/Otros/comandos/__pycache__/ping.cpython-311.pyc
Scripts/Otros/comandos/__pycache__/sysinfo.cpython-311.pyc
Scripts/Otros/comandos/__pycache__/discos.cpython-311.pyc
Scripts/Otros/comandos/__pycache__/admin.cpython-311.pyc
Scripts/Otros/comandos/__pycache__/__init__.cpython-311.pyc
Scripts/Otros/__pycache__/telegram.cpython-311.pyc
